page-profile {

  .intro-wallet-address{

    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    font-size:13px;
    font-weight: 600;
    color:#444;
    padding: 10px 0;

  }

}
