<!--
  Generated template for the ContractsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>


    <!-- Segment buttons with text -->
    <ion-segment [(ngModel)]="page" color="primary">
        <ion-segment-button value="active" (ionSelect)="selectSegment('active')">
            Active contracts
        </ion-segment-button>
        <ion-segment-button value="deploy" (ionSelect)="selectSegment('deploy')">
            Deploy contracts
        </ion-segment-button>
    </ion-segment>

    <div *ngIf="page === 'deploy'">

        <ion-list>
            <button ion-item *ngFor="let contract of contracts">
                {{ contract.name }}
                <button ion-button=""
                        (click)="onContractTap(contract)"
                        item-end=""
                        outline=""
                        class="disable-hover item-button button button-ios button-outline button-outline-ios">
                    <span class="button-inner">Deploy</span>
                </button>
            </button>
        </ion-list>

        <div style="text-align: center;" *ngIf="loading">
            <ion-spinner></ion-spinner>
        </div>

    </div>

    <div *ngIf="page === 'active'" style="text-align: center;">
        <span *ngIf="deployedContracts.length === 0">No active contracts. Deploy some by tapping on the top right.</span>
        <div style="text-align: center;" *ngIf="loading">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <button ion-item *ngFor="let contract of deployedContracts" (click)="onActiveContractTap(contract)">
                {{ contract.name }}
                <button ion-button=""
                        item-end=""
                        outline=""
                        class="disable-hover item-button button button-ios button-outline button-outline-ios">
                    <span class="button-inner">View</span>
                </button>
            </button>
        </ion-list>
    </div>

</ion-content>
