<ion-header>
    <ion-toolbar>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismissTap()" style="margin-right: 10px;">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>

    <h4 *ngIf="inputs.length === 0" style="text-align:center;">
        Nothing to fill out. Just submit :)
    </h4>

    <ion-list>
        <div *ngFor="let field of inputs" style="display: flex;">
            <ion-item item-left style="flex-grow: 2">
                <ion-label floating>
                    {{ field.name }} ({{field.type}} {{getTitleLabel(field.type)}})
                </ion-label>
                <ion-input
                        *ngIf="field.type !== 'bool'"
                        [type]="field.type === 'uint256'?'number':'string'"
                        [(ngModel)]="field.value"></ion-input>
                <ion-select *ngIf="field.type === 'bool'" [(ngModel)]="field.value">
                    <ion-option value="yes">Yes</ion-option>
                    <ion-option value="no">No</ion-option>
                </ion-select>
            </ion-item>
            <div style="flex-grow: 1">
                <button style="width:40px; height:40px; padding:0; margin-bottom:-60px;"
                        *ngIf="field.type !== 'bool'"
                        small
                        ion-button
                        (click)="scanQr(field)"
                        round
                        outline>
                    <ion-icon name="ios-qr-scanner"></ion-icon>
                </button>
            </div>
        </div>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <button [disabled]="submitting" ion-button large block (click)="submit()">{{submitting?'submitting':'submit'}}</button>
    </ion-toolbar>
</ion-footer>