<ion-content padding center text-center class="vertical-align-content">
    <ion-grid>
        <ion-row center>
            <ion-col>
                <div class="intro-page-container" *ngIf="page === 'WALLET'">
                    <h1>Your wallet</h1>
                    <br/>
                    <p class="label-ios-primary"><b>Tap on the wallet address to copy it to your clipboard</b><br/> and
                        share it with your voting admin</p>
                    <hr/>
                    <div class="intro-wallet-address" (click)="onAddressTap()">{{address}}</div>
                    <br/>
                    <ngx-qrcode
                            qrc-element-type="text"
                            [qrc-value] = "address"
                            qrc-class = "aclass"
                            qrc-errorCorrectionLevel = "L">
                    </ngx-qrcode>
                    <button (click)="walletDoneTap(false)" ion-button block>Sign in</button>
                    <hr/>
                    <button (click)="walletDoneTap(true)" ion-button block color="light">I'm an admin</button>
                </div>
                <div *ngIf="page === 'URL'">
                    <h1>Connect to your node</h1>
                    <p class="label-ios-primary"><b>Please enter the server RPC URL</b><br/> you've recieved from your voting
                        admin or have created yourself.</p>
                    <hr/>
                    <ion-input placeholder="Enter URL here..." [(ngModel)]="rpcUrl"></ion-input>
                    <button (click)="rpcDoneTap()" ion-button block>Set url</button>
                </div>
                <div *ngIf="page === 'ADMIN'">
                    <h1>Setup your server</h1>
                    <p class="label-ios-primary"><b>Please go to your server setup</b><br/> and enter this wallet address when setting up</p>
                    <hr/>
                    <div class="intro-wallet-address" (click)="onAddressTap()">{{address}}</div>
                    <br/>
                    <ngx-qrcode
                            qrc-element-type="text"
                            [qrc-value] = "address"
                            qrc-class = "aclass"
                            qrc-errorCorrectionLevel = "L">
                    </ngx-qrcode>
                    <button (click)="adminDoneTap()" ion-button block>I've setup the server!</button>
                </div>
                <div *ngIf="page === 'DONE'">
                    <h1>That's it!</h1>
                    <p class="label-ios-primary">You can change the node or check your wallet address in your profile page.</p>
                    <button (click)="endTap()" ion-button block>ALRIGHT</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
