<ion-header>
    <ion-toolbar>
        <ion-title>
            {{contractName}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()" style="margin-right: 10px;">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-list-header>
            Actions
        </ion-list-header>
        <button ion-item *ngFor="let item of setters" (click)="onSetterSelected(item)">
            {{ item.name }}
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Getters
        </ion-list-header>
        <button ion-item *ngFor="let item of getters" (click)="onGetterSelected(item)">
            {{ item.name }}
        </button>
    </ion-list>

</ion-content>
